body{
    /* Cambia el bkg color de la pag */
    background-color: lightblue;
}


h1 {
    color: red;
}

p {
    color: #46484c;
}

button {
    /* Cambia el color del texto del boton */
    color: #fff;
    /* Cambia el bkg color del boton */
    background-color: #025157;
}