body {
    /* Cambia el bkg color de la pag */
    background-color: #FFFBF7;
    text-align: center;
    margin-top: 285px;
    text-align: center;
}

#bigimage {
    width: 80%;
}

#title {
    color: #025157;
    font-size: 45px;
}

#paragraph {
    color: #46484c;
    display: block;
    font-size: 25px;
}

#freetrialtext {
    color: #A2A3AE;

}

#emailbox {
    padding: 10px;

}

button {
    /* Cambia el color del texto del boton */
    color: #fff;
    /* Cambia el bkg color del boton */
    background-color: #025157;
    padding: 10px;
    margin-right: 0;
    border-radius: 8px;
}

header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px 20px auto 20px;
    font-size: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

form > * {
    margin: 0;
}

#publishtrial {
    color: #025157;
}

.publicidad {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1
}

.publish {
    flex: 1;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
