body{
    /* Cambia el bkg color de la pag */
    background-color: lightblue;
}


h1 {
    color: red;
}

p {
    color: #46484c;
    display: block;
}

button {
    /* Cambia el color del texto del boton */
    color: #fff;
    /* Cambia el bkg color del boton */
    background-color: #025157;
}

header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.header {
    margin-top: 40px 20px auto 20px;
    font-size: 0;
}

li {
    display: inline;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}